/*
!/debian-loong64-security/
!/debian-loong64/
!/systemd/

**/gpghome/
**/appstream/workspace/
**/db/
**/podman/
**/repo.lock
**/public/
**/orig-dists/
**/pkg-logs/
**/notification/
**/logs/
**/deleted/
**/denied/
**/lists/
