[Unit]
Description = Export index in repo %i

[Service]
Type = oneshot
ExecStart = flock --verbose repo.lock reprepro export
WorkingDirectory = /srv/repos/%i
User = repo
Group = repo
